@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
button {
    width: 120px;
    height: 25px;
    border: none;
    color: white;
    background-color: #636e72;
    border-radius: 10px;
}

h1 {
    font-family: 'Lato', sans-serif;
    text-align: center;
    color: white;
}

body {
    background: linear-gradient(90deg, #FC466B 0%, #3F5EFB 100%);
}

#authorsTbl {
    margin: auto;
    font-family: 'Lato', sans-serif;
    border-collapse: collapse;
    width: 70%;
}

#authorsTbl td,
#authorsTbl th {
    border: 3px solid #ddd;
    padding: 8px;
}

#authorsTbl tr:nth-child(even) {
    background-color: #f2f2f2;
}

#authorsTbl tr:hover {
    background-color: #ddd;
}

#authorsTbl tr {
    background-color: #e6e6e6d0;
}

thead th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #505CEE;
    color: white;
}

.containerTablas {
    padding: 10px 50px 50px 50px;
    width: 80%;
    height: 100%;
    margin: auto;
    background-color: white;
    border-radius: 20px;
}

.subtitulos {
    font-family: 'Lato', sans-serif;
    text-align: center;
    color: #505CEE;
}

.subtitulo {
    font-family: 'Lato', sans-serif !important;
    text-align: center;
    color: white;
    margin-top: -15px;
}


/*customers*/

#customersTbl {
    margin: auto;
    font-family: 'Lato', sans-serif;
    border-collapse: collapse;
    width: 70%;
}

#customersTbl td,
#customersTbl th {
    border: 3px solid #ddd;
    padding: 8px;
}

#customersTbl tr:nth-child(even) {
    background-color: #f2f2f2;
}

#customersTbl tr:hover {
    background-color: #ddd;
}

#customersTbl tr {
    background-color: #e6e6e6d0;
}

/*libraries*/

#librariesTbl {
    margin: auto;
    font-family: 'Lato', sans-serif;
    border-collapse: collapse;
    width: 70%;
}

#librariesTbl td,
#librariesTbl th {
    border: 3px solid #ddd;
    padding: 8px;
}

#librariesTbl tr:nth-child(even) {
    background-color: #f2f2f2;
}

#librariesTbl tr:hover {
    background-color: #ddd;
}

#librariesTbl tr {
    background-color: #e6e6e6d0;
}